<h1>Welcome to Dinosaur!!!!</h1>

    <div class="row">
    <div class="span2"><h2>Nav Menu</h2></div>
    <div class="span 12">
<div class="hero-unit"
    	<p><center>This is a dinosaur</center></p>
<center>
    	<img src="http://www.enchantedlearning.com/tgifs/Trexskelanim.gif">
<p><a href="#">Sign up now</a>
</p></center></div>
    </div>


<div class="footer">
	<small>
	(C) Rails Corp.
	</small>
	</div>
